// Colours
$headerColour: #f2daaa;
$bodyColour: #7c3e28;
$headingColour: darken($headerColour, 5%);
$linkColour: #7c3e28;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #f2daaa;

$backgroundColour: #44AAAA;
$codeBackgroundColour: darken($backgroundColour, 5%);
