// Colours
$bodyColour: #CA7A2C;
$headingColour: darken($bodyColour, 5%);
$linkColour: #CB1B45;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #0089A7;
$codeBackgroundColour: darken($backgroundColour, 5%);
